.fifth-section {
  @include media-breakpoint-up(md) {
    .bg-image {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }
    .bg-whitegray {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
    }
  }
  .slider-content {
    min-height: 270px;
    @include media-breakpoint-down(md) {
      min-height: 200px;
    }
  }
}