.first-section {
  color: $white;
  .subsection {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .main-title {
    max-width: 600px;
    margin: 0 0 20px;
    font-size: 4.2rem;
    font-weight: 600;
    @include media-breakpoint-down(md) {
      font-size: 2.4rem;
    }
  }
  .main-info {
    max-width: 500px;
    margin: 0;
    font-size: 1.6rem;
  }
  .digit-container {
    padding: 10px 10px 50px;
    font-size: 1.8rem;
    font-weight: 500;
    .digit {
      color: $secondary-color;
      font-size: 3.6rem;
    }
  }
}