footer {
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-top: 1px solid $whitegray-secondary;
  a, a:hover {
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .social-links {
    font-size: 1.4rem;
    a {
      display: inline-block;
      margin: 0 10px;
      color: inherit;
      &:hover {
        background: $secondary-color;
      }
    }
  }
  hr{
    height: 1px;
    background: rgba(#BCC6D0,40px);
    margin-bottom: 50px;
  }
}