@import "navbar";
@import "first-section";
@import "second-section";
@import "third-section";
@import "fourth-section";
@import "fifth-section";
@import "sixth-section";
@import "seventh-section";
@import "footer";