.second-section {
  text-align: center;
  .container {
    max-width:936px;
  }
  p {
    font-size: 1.8rem;
    font-weight: 400;
    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
    }
  }
}