.section-partners {
  .select-for a {
    text-decoration: none;
    color: inherit;
    &.active {
      color: $secondary-color;
      text-decoration: none !important;
      cursor: default;
    }
  }
}