.seventh-section {
  background: url($path-image + '/secondary_bg.jpg') center;
  background-size: cover;
  .paragraph {
    max-width: 936px;
    font-size: 1.8rem;
    @include media-breakpoint-down(md) {
      font-size: 1.4rem
    }
  }
}