.third-section {
  .block-title {
    margin-bottom: 1rem;
  }
  .block-icon {
    margin: 1rem 1rem 1rem 0;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  .block {
    margin-bottom: 3rem;
  }
}