/* Base Styles -------------------- */
html {
  font-size: 10px;
}
body {
  font-family: 'PTSans', sans-serif;
  font-size: 1.6rem;
}

a {
  color: $link-color;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  color: inherit;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
  color: inherit;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: $black-default;
}