.color-main {
  color: $main-color;
}
.bg-main {
  background-color: $main-color;
}
.color-white {
  color: $white;
}
.color-gray {
  color: $gray-default;
}
.color-gray-secondary {
  color: $gray-secondary;
}
.color-whitegray {
  color: $whitegray-default;
}
.color-black-default {
  color: $black-default;
}
.bg-whitegray {
  background-color: $whitegray-default;
}