//Font - Regular (400)
@font-face {
  font-family: 'PTSans';
  src: local('PTSans'), url($path-font-main + '/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//PTSans - Regular Italic (400)
@font-face {
  font-family: 'PTSans';
  src: local('PTSans Italic'), url($path-font-main + '/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
//PTSans - Bold (700)
@font-face {
  font-family: 'PTSans';
  src: local('PTSans Bold'), url($path-font-main + '/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
//PTSans - Bold Italic (700)
@font-face {
  font-family: 'PTSans';
  src: local('PTSans Bold Italic'), url($path-font-main + '/PTSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
//GothamPro - Bold (700)
@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro Bold '), url($path-fonts + 'GothamPro/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url($path-fonts + '/icomoon/icomoon.eot?1jcwml');
  src:  url($path-fonts + '/icomoon/icomoon.eot?1jcwml#iefix') format('embedded-opentype'),
  url($path-fonts + '/icomoon/icomoon.ttf?1jcwml') format('truetype'),
  url($path-fonts + '/icomoon/icomoon.woff?1jcwml') format('woff'),
  url($path-fonts + '/icomoon/icomoon.svg?1jcwml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "../../fonts/icomoon/icomoon";