//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image     :   '../img';
$path-fonts     :  '../fonts';
$path-font-main: $path-fonts + '/PTSans';
$green: #43C1A5;
$yellow: #EDBA66;
$blue: #4F92D7;
$red:#ff3b3b;
$link-color: #4286CC;
$main-color: $blue;
$secondary-color: $green;
$white: #ffffff;
$black: #000000;
$black-default: #333333;
$black-secondary: #373737;
$gray-secondary: #747474;
$gray-default: #9B9B9B;
$lightgray-default: #C2C2C2;
$lightgray-secondary: #B3B3B3;
$whitegray-default: #F2F2F2;
$whitegray-secondary: #EFEFEF;
$whitegray-lightest: #FCFCFC;
